<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Detection System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Real-time Bird Detection</h1>
        <img id="video" src="{{ url_for('video_feed') }}" width="640" height="480" />
    </div>
    <div class="container">
    <h2>Bird Detection Confidence Graph</h2>
    <img src="/graph" alt="Confidence Graph" style="width: 80%; height: auto; border: 2px solid black;">
    </div>

    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>
